In [ ]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

In [ ]:
chugun_train = pd.read_csv('/content/chugun_train.csv')

In [ ]:
chugun_train.head(3)

     NPLV       VES       T    SI  ...    CU      V     TI          DATA_ZAMERA
0  510008  263700.0  1396.0  0.44  ...  0.03  0.103  0.084  2021-01-01 03:15:03
1  510009  264500.0  1419.0  0.68  ...  0.03  0.084  0.096  2021-01-01 04:23:48
2  510010  263800.0  1384.0  0.56  ...  0.03  0.115  0.110  2021-01-01 05:21:40

[3 rows x 13 columns]

В ходе анализа переменных было обнаружено два значения веса = 0, заменим их на медианные значения

In [ ]:
chugun_train[chugun_train.VES == 0]

        NPLV  VES    T    SI  ...    CU      V     TI          DATA_ZAMERA
986   511107  0.0  0.0  0.55  ...  0.03  0.054  0.061  2021-02-26 06:47:40
1008  511137  0.0  0.0  0.86  ...  0.02  0.062  0.083  2021-02-27 23:12:44

[2 rows x 13 columns]

In [ ]:
chugun_train['VES'].median()

266000.0

In [ ]:
chugun_train.VES[chugun_train.VES == 0] = chugun_train['VES'].median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
chugun_train[chugun_train.VES == 0]

Empty DataFrame
Columns: [NPLV, VES, T, SI, MN, S, P, CR, NI, CU, V, TI, DATA_ZAMERA]
Index: []

In [ ]:
chugun_train.columns

Index(['NPLV', 'VES', 'T', 'SI', 'MN', 'S', 'P', 'CR', 'NI', 'CU', 'V', 'TI',
       'DATA_ZAMERA'],
      dtype='object')

В ходе анализа были обнаружены строки, где температура равна 0, заменим на медианное значение

In [ ]:
chugun_train[chugun_train['T'] == 0]

        NPLV       VES    T    SI  ...    CU      V     TI          DATA_ZAMERA
560   510644    3300.0  0.0  0.65  ...  0.03  0.080  0.092  2021-02-01 11:40:44
986   511107  266000.0  0.0  0.55  ...  0.03  0.054  0.061  2021-02-26 06:47:40
1008  511137  266000.0  0.0  0.86  ...  0.02  0.062  0.083  2021-02-27 23:12:44

[3 rows x 13 columns]

In [ ]:
chugun_train['T'].median()

1402.0

In [ ]:
chugun_train['T'] = chugun_train['T'].replace(0, chugun_train['T'].median())

In [ ]:
chugun_train[chugun_train['T'] == 0]

Empty DataFrame
Columns: [NPLV, VES, T, SI, MN, S, P, CR, NI, CU, V, TI]
Index: []

In [ ]:
chugun_train.head()

     NPLV       VES       T    SI    MN  ...    CR    NI    CU      V     TI
0  510008  263700.0  1396.0  0.44  0.22  ...  0.03  0.01  0.03  0.103  0.084
1  510009  264500.0  1419.0  0.68  0.20  ...  0.02  0.01  0.03  0.084  0.096
2  510010  263800.0  1384.0  0.56  0.26  ...  0.03  0.01  0.03  0.115  0.110
3  510011  264000.0  1401.0  0.48  0.27  ...  0.03  0.01  0.02  0.112  0.110
4  510012  263300.0  1422.0  0.47  0.23  ...  0.02  0.01  0.03  0.083  0.070

[5 rows x 12 columns]

In [ ]:
chugun_train=chugun_train.drop(['DATA_ZAMERA'], axis=1)

In [ ]:
scaler = StandardScaler()

In [ ]:
chugun_train['VES'] = scaler.fit_transform(np.array(chugun_train['VES']).reshape(-1,1))
chugun_train['T'] = scaler.fit_transform(np.array(chugun_train['T']).reshape(-1,1))

In [ ]:
chugun_train

        NPLV       VES         T    SI    MN  ...    CR    NI    CU      V     TI
0     510008 -0.344448 -0.131840  0.44  0.22  ...  0.03  0.01  0.03  0.103  0.084
1     510009 -0.255204  0.787841  0.68  0.20  ...  0.02  0.01  0.03  0.084  0.096
2     510010 -0.333292 -0.611673  0.56  0.26  ...  0.03  0.01  0.03  0.115  0.110
3     510011 -0.310981  0.068091  0.48  0.27  ...  0.03  0.01  0.02  0.112  0.110
4     510012 -0.389070  0.907799  0.47  0.23  ...  0.02  0.01  0.03  0.083  0.070
...      ...       ...       ...   ...   ...  ...   ...   ...   ...    ...    ...
2058  512318  0.045996  0.627896  0.38  0.28  ...  0.02  0.01  0.02  0.081  0.060
2059  512319  0.001373  0.228035  0.50  0.30  ...  0.02  0.01  0.02  0.079  0.081
2060  512320  1.038838 -0.051868  0.61  0.31  ...  0.03  0.01  0.03  0.086  0.066
2061  512321  1.005371  0.347994  0.38  0.27  ...  0.02  0.01  0.03  0.076  0.060
2062  512322  1.384659  0.547924  0.50  0.31  ...  0.02  0.01  0.03  0.077  0.067

[2063 rows x 12 columns]

In [ ]:
chugun_train.to_csv('chugun_train_csv.csv', index=False)

In [ ]:
chugun_test = pd.read_csv('/content/chugun_test.csv')

In [ ]:
def preparation(chugun_train):
  chugun_train['T'] = chugun_train['T'].replace(0, chugun_train['T'].median())
  chugun_train.VES[chugun_train.VES == 0] = chugun_train['VES'].median()
  chugun_train=chugun_train.drop(['DATA_ZAMERA'], axis=1)
  chugun_train['VES'] = scaler.fit_transform(np.array(chugun_train['VES']).reshape(-1,1))
  chugun_train['T'] = scaler.fit_transform(np.array(chugun_train['T']).reshape(-1,1))
  return chugun_train

In [ ]:
chugun_test = preparation(chugun_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
chugun_test.to_csv('chugun_test_csv.csv', index=False)