In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib
import numpy as np


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
def preparation(plavki_train, train: bool):
  plavki_train.drop('plavka_ST_GOL', axis=1, inplace=True)
  plavki_train['plavka_VR_NACH'], plavki_train['plavka_VR_KON'] = pd.to_datetime(plavki_train['plavka_VR_NACH']), pd.to_datetime(plavki_train['plavka_VR_KON'])
  plavki_train['seconds_of_plavka'] = (plavki_train['plavka_VR_KON'] -  plavki_train['plavka_VR_NACH']).dt.seconds

  if train:
    plavka_511135 = plavki_train[plavki_train['NPLV'] == 511135]
    plavka_511135['plavka_ST_FURM'] = int(plavka_511135['plavka_ST_FURM'].median())
    plavki_train[plavki_train['NPLV'] == 511135] = plavka_511135

  plavki_train.drop_duplicates(inplace=True)

  le = LabelEncoder()
  dummy_features = ['plavka_NAPR_ZAD', 'plavka_TIPE_FUR']
  label_features = ['plavka_NMZ', 'plavka_TIPE_GOL']

  for feat in dummy_features:
    data_temp = pd.get_dummies(plavki_train[feat], drop_first=True)
    plavki_train.drop(feat, axis=1, inplace=True)
    data_temp.columns = [feat + '_' + str(col) for col in list(data_temp)]
    plavki_train = pd.concat([plavki_train, data_temp], axis=1)

  for label_feature in label_features:
    plavki_train[label_feature] = le.fit_transform(plavki_train[label_feature])

  plavki_train.drop(['plavka_VR_NACH', 'plavka_VR_KON'], axis=1,inplace=True)
  return plavki_train

In [ ]:
plavki_train = pd.read_csv('plavki_train.csv')
plavki_test = pd.read_csv('plavki_test.csv')
# target_train = pd.read_csv('target_train.csv')

FileNotFoundError: ignored

In [ ]:
prepared_plavki_train = preparation(plavki_train, True)
prepared_plavki_test = preparation(plavki_test, False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
prepared_plavki_train.to_csv('ready_plavki_train.csv', index=False)
prepared_plavki_test.to_csv('ready_plavki_test.csv', index=False)

In [ ]:
plavki_train.drop('plavka_ST_GOL', axis=1, inplace=True)

In [ ]:
plavki_train.dtypes

NPLV                int64
plavka_VR_NACH     object
plavka_VR_KON      object
plavka_NMZ         object
plavka_NAPR_ZAD    object
plavka_STFUT        int64
plavka_TIPE_FUR    object
plavka_ST_FURM      int64
plavka_TIPE_GOL    object
dtype: object

In [ ]:
plavki_train['plavka_VR_NACH'], plavki_train['plavka_VR_KON'] = pd.to_datetime(plavki_train['plavka_VR_NACH']), pd.to_datetime(plavki_train['plavka_VR_KON'])

In [ ]:
plavki_train.dtypes

NPLV                        int64
plavka_VR_NACH     datetime64[ns]
plavka_VR_KON      datetime64[ns]
plavka_NMZ                 object
plavka_NAPR_ZAD            object
plavka_STFUT                int64
plavka_TIPE_FUR            object
plavka_ST_FURM              int64
plavka_TIPE_GOL            object
dtype: object

In [ ]:
plavki_train['seconds_of_plavka'] = (plavki_train['plavka_VR_KON'] -  plavki_train['plavka_VR_NACH']).dt.seconds

<font size=6 color='red'>*Найдены ошибки в данных, замена почти повторяющихся строк с id=511135.*

In [ ]:
plavki_train.NPLV.value_counts().sort_values()

511983     1
511982     1
511980     1
511978     1
511976     1
          ..
512006     1
512038     1
510019     1
512178     1
511135    75
Name: NPLV, Length: 2063, dtype: int64

In [ ]:
plavki_train.head()

     NPLV      plavka_VR_NACH  ...       plavka_TIPE_GOL seconds_of_plavka
0  510008 2021-01-01 03:08:11  ...  5 сопловая                        2579
1  510009 2021-01-01 04:00:44  ...  5 сопловая                        4004
2  510010 2021-01-01 05:12:29  ...  5 сопловая                        2904
3  510011 2021-01-01 06:13:48  ...  5 сопловая                        3291
4  510012 2021-01-01 07:13:44  ...  5 сопловая                        2895

[5 rows x 10 columns]

In [ ]:
plavka_511135 = plavki_train[plavki_train['NPLV'] == 511135]

In [ ]:
plavka_511135['plavka_ST_FURM'] = int(plavka_511135['plavka_ST_FURM'].median())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
plavki_train[plavki_train['NPLV'] == 511135] = plavka_511135

In [ ]:
plavki_train.drop_duplicates(inplace=True)

In [ ]:
plavki_train.shape

(2063, 10)

In [ ]:
plavki_train.head()

     NPLV      plavka_VR_NACH  ...       plavka_TIPE_GOL seconds_of_plavka
0  510008 2021-01-01 03:08:11  ...  5 сопловая                        2579
1  510009 2021-01-01 04:00:44  ...  5 сопловая                        4004
2  510010 2021-01-01 05:12:29  ...  5 сопловая                        2904
3  510011 2021-01-01 06:13:48  ...  5 сопловая                        3291
4  510012 2021-01-01 07:13:44  ...  5 сопловая                        2895

[5 rows x 10 columns]

<font size=5> Кодирование категориальных признаков

In [ ]:
plavki_train.nunique()

NPLV                 2063
plavka_VR_NACH       2063
plavka_VR_KON        2063
plavka_NMZ             66
plavka_NAPR_ZAD         3
plavka_STFUT         2063
plavka_TIPE_FUR         2
plavka_ST_FURM        323
plavka_TIPE_GOL         4
seconds_of_plavka    1225
dtype: int64

In [ ]:
le = LabelEncoder()
ohe = OneHotEncoder()

In [ ]:
dummy_features = ['plavka_TIPE_GOL', 'plavka_NAPR_ZAD', 'plavka_TIPE_FUR']
label_features = ['plavka_NMZ']

for feat in dummy_features:
  data_temp = pd.get_dummies(plavki_train[feat], drop_first=True)
  plavki_train.drop(feat, axis=1, inplace=True)
  data_temp.columns = [feat + '_' + str(col) for col in list(data_temp)]
  plavki_train = pd.concat([plavki_train, data_temp], axis=1)

for label_feature in label_features:
  plavki_train[label_feature] = le.fit_transform(plavki_train[label_feature])

In [ ]:
plavki_train.drop(['plavka_VR_NACH', 'plavka_VR_KON'], axis=1,inplace=True)

In [ ]:
plavki_train.dtypes

NPLV                                    int64
plavka_NMZ                              int64
plavka_STFUT                            int64
plavka_ST_FURM                          int64
seconds_of_plavka                       int64
plavka_TIPE_GOL_4-сопл х54              uint8
plavka_TIPE_GOL_5 сопловая              uint8
plavka_TIPE_GOL_Э, 4-сопл х54           uint8
plavka_NAPR_ZAD_МНЛЗ                    uint8
plavka_NAPR_ZAD_МНЛС                    uint8
plavka_TIPE_FUR_цилиндрическая          uint8
dtype: object

In [ ]:
plavki_train.head()

     NPLV  plavka_NMZ  ...  plavka_NAPR_ZAD_МНЛС  plavka_TIPE_FUR_цилиндрическая
0  510008          42  ...                     0                               1
1  510009          42  ...                     0                               1
2  510010          58  ...                     0                               1
3  510011          48  ...                     0                               1
4  510012          38  ...                     1                               1

[5 rows x 11 columns]

<font size=5> DONEEEEE!!!!!

# GAS

In [ ]:
def extract_gas(raw_data):
    data = raw_data.copy()
    id = 'NPLV'
    
    rename_cols = {'T фурмы 2': 'tf2', 'T фурмы 1': 'tf1'}
    data.rename(columns=rename_cols, inplace=True)
    
    gases = ['AR', 'CO', 'CO2', 'H2', 'N2', 'O2']
    commons = ['O2_pressure', 'tf1', 'tf2', 'T']
    vcol = ['V']
    timecol = ['Time']
    allcols = gases + commons + vcol
    
    data[allcols] = data[allcols].astype('float32')
    
    data_max = data.groupby(id).max()[commons]
    data_last = data.groupby(id).last()[allcols+timecol]
    data_first = data.groupby(id).first()[commons+vcol+timecol]
    
    data_diff = data_last[vcol+commons+timecol] - data_first[vcol+commons+timecol]
    data_diff['Time'] = data_diff['Time'].astype('timedelta64[s]')
    
    data = data.join(data_last, rsuffix='_last')
    
    data['duration'] = (data['Time_last'] - data['Time']).astype('timedelta64[s]')
    for i in [1, 5, 10, 30]:
        for col in allcols:
            data[f'dur_{i}_{col}_sum'] = data[col].mask(data['duration'] > 60*i, 0)
            
    allaggs = [f'dur_{i}_{col}_sum' for col in allcols for i in [1, 5, 10, 30]] + allcols
    data_agg = data[allaggs].groupby(id).sum()
    for i in [1, 5, 10, 30]:
        for col in allcols:
            data_agg[f'dur_{i}_{col}_mean'] = data_agg[f'dur_{i}_{col}_sum'] / (i*60)
            
    for col in allcols:
        data_agg[f'dur_all_{col}_sum'] = data_agg[col]
        data_agg[f'dur_all_{col}_mean'] = data_agg[f'dur_all_{col}_sum'] / data_diff['Time']
    
    dropaggs = [f'dur_{i}_{col}_sum' for col in commons for i in [1, 5, 10, 30]]
    data_agg.drop(dropaggs, axis=1, inplace=True)
    
    all_data = data_agg.join(data_max, rsuffix='_max')
    all_data = all_data.join(data_last, rsuffix='_last')
    all_data = all_data.join(data_diff, rsuffix='_diff')
    
    all_data.drop(allcols+timecol, axis=1, inplace=True)
    
    return all_data